h1 { 
    width:65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

p { 
    font-weight: 600;
    font-size: 3em;
    line-height: 150%;
}

ul { 
    background-color: orchid;
    font-style: italic;
    text-decoration: underline;
}

.doubt { 
    background-color: green;
}

body{ 
    font-size: 16px;
}

#yellow { 
    background-color: yellow;
}

#red { 
    background-color: red;
}

#brown { 
    background-color: brown;
}