header, nav { 
    background-color:#FFABD5;
    text-align: center;
}

nav ul { 
    background-color: blueviolet;
}

nav li { 
    display: inline;
}

nav a {
    color: white;
    font;
}

aside {
    text-align: center;
    border: #FFABD5 solid 1.5px;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

aside ul {
    list-style-position: inside;
    padding: 0px 10px;
    text-align: left;
}

article {
    display: inline-block;
    max-width: 60%;
}