.header { 
    background-color:#FFABD5;
}

.header { 
    text-align: center;
}

.header ul { 
    background-color: blueviolet;
}

.header li { 
    display: inline;
}

.header a {
    color: white;
    font;
}

.aside { 
    float: right;
}